<app-header></app-header>
  <!-- Inner Banner Start-->
    <section class="inner-hero-banner">
        <div class="inner-hero-text">
            <h1>Our Journey</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);" routerLink="/index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Our Journey</li>
                </ol>
            </nav>
        </div>
    </section>
    <!-- Inner Banner End -->
    <!-- Start About Content Area -->
    <section class="section about-content-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-12 order-md-2">
                    <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                        <img src="assets/images/aboutus/beginning.png" class="img-fluid" alt="" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 order-md-1">
                    <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                        <div class="about-content">
                            <h4>
                                The Beginning
                            </h4>
                            <div class="text">GABA was founded by medical students for medical students. Like you, we started our personal medical journeys ready to excel. We quickly discovered that, aside from grit and determination, success in medical school was often a matter of having the right information at the right time. That’s when GABA was born. <br><br>Rather than spending hours pouring over multiple sites for recommended resources, school reviews, and applicant data from questionable sources, we decided to create a community for the unique experience of being a medical student. GABA filters out the noise and gives our members back the most precious resource in a medical student's arsenal: Time.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Content Area -->
    <!-- Start About Team Area-->
    <section class="section team-area">
        <div class="container">
            <div class="title-block mx-auto">
                <div class="section_title mb-4 text-center">
                    <h2><span>Meet the Team</span></h2>
                    <p class="section_subtitle mx-auto">Our team has over 6 years of experience working with medical students at risk of failing or underperforming on exams. We emphasize design solutions that enhance medical education and student experience.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-team wow fadeInUp" data-wow-duration="1.5s">
                        <div class="team-photo">
                            <img src="assets/images/aboutus/team/candice.jpg" class="img-fluid" alt="">
                            <div class="team-content">
                                <div class="team-social">
                                    <ul>
                                        <li><a target="_blank" href="https://www.linkedin.com/in/candiceblacknall/"><i class="mdi mdi-linkedin"></i></a></li>
                                        <li><a target="_blank" href="https://twitter.com/goGABAco"><i class="mdi mdi-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="person-name">
                            <h4>Candice Blacknall, MD MBA</h4>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-team wow fadeInUp" data-wow-duration="1.5s">
                        <div class="team-photo">
                            <img src="assets/images/aboutus/team/julia2.jpg" class="img-fluid" alt="">
                            <div class="team-content">
                                <div class="team-social">
                                    <ul>
                                        <li><a target="_blank" href="https://www.linkedin.com/in/jchristwork"><i class="mdi mdi-linkedin"></i></a></li>
                                        <li><a target="_blank" href="https://twitter.com/goGABAco"><i class="mdi mdi-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="person-name">
                            <h4>Julia Christian</h4>
                            <p>CXO</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-team wow fadeInUp" data-wow-duration="1.5s">
                        <div class="team-photo">
                            <img src="assets/images/aboutus/team/chima2.jpg" class="img-fluid" alt="">
                            <div class="team-content">
                                <div class="team-social">
                                    <ul>
                                        <li><a target="_blank" href="https://www.linkedin.com/in/chima-odinkemere/"><i class="mdi mdi-linkedin"></i></a></li>
                                        <li><a target="_blank" href="https://twitter.com/goGABAco"><i class="mdi mdi-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="person-name">
                            <h4>Chima Odinkemere, MD MBA</h4>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-sm-6">
                    <div class="single-team wow fadeInUp" data-wow-duration="1.5s">
                        <div class="team-photo">
                            <img src="assets/images/aboutus/team/5.jpg" class="img-fluid" alt="">
                            <div class="team-content">
                                <div class="team-social">
                                    <ul>
                                        <li><a href="#"><i class="mdi mdi-facebook-box"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="person-name">
                            <h4>Adam John</h4>
                            <p>Web Developer</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- End About Team Area-->
