<!-- Start Navbar -->
<nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
    <div class="container">
      <!-- LOGO -->
      <a class="navbar-brand brand-logo mr-4" routerLink="/index">
        <img src="assets/images/gabaLogoMango.png" class="img-fluid logo-light" alt="">
        <img src="assets/images/gabaLogoMidnight.png" class="img-fluid logo-dark" alt="">
      </a>
      <div class="navbar-collapse collapse justify-content-center" id="navbarCollapse">
        <ul class="navbar-nav navbar-center" id="mySidenav">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
            <a href="javascript:void(0);" routerLink="/index" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0);" [routerLink] = "['/index']" fragment="howitworks" class="nav-link">How It Works</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0);" [routerLink] = "['/index']" fragment="pricing" class="nav-link">Pricing</a>
          </li>
          <li class="nav-item">
            <a target="_blank" href="http://gogaba.rurl.me/Tryitout" class="nav-link">Demo</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a href="javascript:void(0);" routerLink="/about" class="nav-link">Our Journey</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0);" [routerLink] = "['/index']" fragment="faq" class="nav-link">FAQs</a>
          </li>
        </ul>
        <div class="menu-close-btn"><i class="mdi mdi-close-circle-outline"></i></div>
      </div>
      <div class="header_btn">
        <a target="_blank" href="http://gogaba.rurl.me/Join" class="btn btn-sm mango-btn">Join GABA <i class="mdi mdi-arrow-right ml-2"></i></a>
        <button class="navbar-toggler ml-2 p-0" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="mdi mdi-menu"></i>
        </button>
      </div>
    </div>
  </nav>
<!-- End Navbar -->
