 <!-- Start Footer -->
<footer class="footer theme-bg overflow-hidden">
  <!-- Circle Animations Effect-->
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer-top">
          <div class="foot_logo d-flex align-items-center justify-content-center">
            <img src="assets/images/gabaLogoMidnight.png" class="img-fluid d-block" alt="">
          </div>
          <p class="ftr-about">The first verified community for medical students and graduates of medical school. We offer reviews on educational resources, schools, and personalized career development.</p>
        </div>
      </div>


      <!-- <div class="col-md-6 col-sm-12">
        <h3>Join Today</h3>
        <div class="contact_form">
          <form>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <input name="name" id="name" type="email" class="form-control" placeholder="Email..." required="">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="d-flex justify-content-start">
                  <button type="submit" class="btn btn-sm theme-btn text-white text-uppercase send-btn">Join</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div> -->


      <div class="col-lg-12">
        <ul class="footer_menu_list list-unstyled mb-0">
          <li><a href="#">Home</a></li>
          <li><a href="#">How It Works</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Our Journey</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="javascript:void(0);" routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-12">
        <div class="copyrights">
          <p class="mb-0 text-center">2020 &copy; <span class="text-white font-weight-bold">GABA Inc.</span></p>
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center">
          <a target="_blank" class="social-icons" href="https://www.linkedin.com/company/gogabaco/"><i class="mdi mdi-linkedin"></i></a>
          <a target="_blank" class="social-icons" href="https://twitter.com/goGABAco"><i class="mdi mdi-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
<!-- Back To Top -->
<!-- <a href="#" class="back_top"> <i class="mdi mdi-chevron-up"></i></a> -->

