
<!-- Toolbar -->
  <div class="toolbar" role="banner">
    <!-- Home Start-->
    <section class="home-section" id="home">
      <!-- Line Animations Effect-->
      <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <!-- Circle Animations Effect-->
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="home-bg">
        <div class="welcome-text-area">
          <div class="area-bg"></div>
          <div class="welcome-area">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="welcome-text text-center">
                    <h1 class="wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1s">GABA Means<span class="typed"></span></h1>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="welcome-img d-flex justify-content-center align-items-center wow fadeInUp" data-wow-delay="1s" data-wow-duration="1.5s">
                    <img src="assets/images/slider-img/hero.png" class="img-fluid" alt="">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- <a href="#aboutus" class="scroll-next"><img src="assets/images/down-arrow.png" class="img-fluid" alt="" /></a> -->
    </section>
    <!-- Home End -->

    <!-- Start About-Us -->
    <section class="section" id="aboutus">
      <div class="container">




       
         
          
            
            <div>
              <ul class="navbar-nav navbar-center">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    I am a...
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="selectionDropdown">
                    <a class="dropdown-item" href="#firstYear">First Year Medical Student</a>
                    <a class="dropdown-item" href="#secondYear">Second Year Medical Student</a>
                    <a class="dropdown-item" href="#thirdYear">Third Year Medical Student</a>
                    <a class="dropdown-item" href="#fourthYear">Fourth Year Medical Student</a>
                  </div>
                </li>
              </ul>
            </div>



        





        <div class="title-block mx-auto">
          <div class="section_title mb-4 text-center">
            <h2><span>About GABA</span></h2>
            <p class="section_subtitle mx-auto">The first verified community for medical students and graduates of medical school. We offer reviews on educational resources, schools, and personalized career development.</p>
          </div>
        </div>
        <div id="firstYear" class="row align-items-center">
          <div class="col-md-6 col-sm-12">
            <div class="about-image-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
              <img src="assets/images/aboutus/firstYear3.png" class="img-fluid" alt="" />
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="about-text-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
              <div class="about-content">
                <h4>
                  First Year Medical Student
                </h4>
                <div class="text">“The hardest part of being in medical school is getting adjusted to the workload, being that I was freshly out of undergrad, without any formal study plan/strategy.” – Rebecca, MS1*
                  <br><br>
                  Congratulations on your acceptance! Get started on the right foot by joining our <strong style="color: #7280DA">community of veteran students</strong> who have already offered <strong style="color: #7280DA">reviews of educational resources</strong>.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="secondYear" class="row align-items-center">
          <div class="col-md-6 col-sm-12 order-md-2">
            <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
              <img src="assets/images/aboutus/secondYear.png" class="img-fluid" alt="" />
            </div>
          </div>
          <div class="col-md-6 col-sm-12 order-md-1">
            <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
              <div class="about-content">
                <h4>
                  Second Year Medical Student
                </h4>
                <div class="text">“There are so many resources that [it] can be overwhelming to go through, so having something that narrows it down is helpful.” – James, MS2*
                  <br><br>
                  You made it through first year! Let’s get you prepared to excel this year and perform well on USMLE Step 1 with our <strong style="color: #7280DA">of educational resources</strong> and <strong style="color: #7280DA">development portal</strong>.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="thirdYear" class="row align-items-center">
          <div class="col-md-6 col-sm-12">
            <div class="about-image-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
              <img src="assets/images/aboutus/thirdYear.png" class="img-fluid" alt="" />
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="about-text-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
              <div class="about-content">
                <h4>
                  Third Year Medical Student
                </h4>
                <div class="text">“I wanted to a way to keep those anecdotes or stories, for example patient encounters that were particularly impactful and that might be helpful in my personal statement” – Benjamin. MS3*
                  <br><br>
                  Can you see the finish line? We can! Finish strong through STEP 2 with our <strong style="color: #7280DA">reviews of educational resources</strong>, get started building your ERAS early with your <strong style="color: #7280DA">personalized GABA profile</strong>, and plan your rotations with <strong style="color: #7280DA">program reviews</strong>.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="fourthYear" class="row align-items-center">
          <div class="col-md-6 col-sm-12 order-md-2">
            <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
              <img src="assets/images/aboutus/fourthYear.png" class="img-fluid" alt="" />
            </div>
          </div>
          <div class="col-md-6 col-sm-12 order-md-1">
            <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
              <div class="about-content">
                <h4>
                  Fourth Year Medical Student
                </h4>
                <div class="text">“Because of COVID I knew I wouldn’t be able to visit the school personally so I was looking through the spreadsheets and I kept seeing people saying their review had been deleted. That’s when I realized I needed a more reliable source of information for what could be the next 5 years of my life” – Janet, MS4*
                  <br><br>
                  Can you believe that you’re going to be a doctor in one year!? Start building your ERAS early with your <strong style="color: #7280DA">personalized GABA profile</strong>. Plan for residency with our <strong style="color: #7280DA">database of applicant data</strong> and <strong style="color: #7280DA">program reviews</strong>.
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>
    <!-- End About-Us -->
    <!-- Start How it Works -->
    <section class="section" id="howitworks">
      <div class="container">
        <div class="title-block mx-auto">
          <div class="section_title mb-4 text-center">
            <h2><span>How It Works</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 mx-auto">
            <div class="image-container wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
              <div class="video-wrapper">
                <a class="popup-youtube" data-toggle="modal" data-target="#videomodal" href="javascript:void(0)">
                  <img src="assets/images/welcome.png" class="img-fluid" alt="">
                  <span class="video-play-button">
                    <span></span>
                  </span>
                </a>
              </div> <!-- end of video-wrapper -->
            </div>
          </div>
          <div class="modal fade" id="videomodal" tabindex="-1" role="dialog" aria-labelledby="videomodal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content transparent-modal">
                <div class="modal-body p-0">
                  <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/YbFtpUooQfs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End How it Works -->
    <!-- Start Price -->
    <section id="pricing" class="section bg-light">
      <div class="container">
        <div class="title-block mx-auto">
          <div class="section_title mb-4 text-center">
            <h2><span>Pricing</span></h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12">
            <ul class="nav nav-tabs tabs-custom mb-4" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="monthly-tab" data-toggle="tab" href="#monthly" role="tab" aria-controls="monthly" aria-selected="true">Monthly</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="yearly-tab" data-toggle="tab" href="#yearly" role="tab" aria-controls="yearly" aria-selected="false">Yearly</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
                <div class="row justify-content-center">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="price-box">
                      <div class="p-box-inner">
                        <div class="hover-line">
                          <div class="price-box-header">
                            <div class="plan-icons">
                              <i class="mdi mdi-rocket"></i>
                            </div>
                            <div class="price-title">Bronze</div>
                          </div>
                          <div class="try-now-btn">
                            <a href="#" class="btn border-btn">Try Now</a>
                          </div>
                          <ul class="package-list-data">
                            <li>2gb Hosting</li>
                            <li>10 Custom Domain</li>
                            <li>SSD Hosting</li>
                            <li>SSD Hosting</li>
                            <li>50gb Bandwith</li>
                            <li>Free Support</li>
                          </ul>
                          <h2><em>$</em>10.00</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="price-box">
                      <div class="p-box-inner">
                        <div class="hover-line">
                          <div class="price-box-header">
                            <div class="plan-icons">
                              <i class="mdi mdi-rocket"></i>
                            </div>
                            <div class="price-title">Silver</div>
                          </div>
                          <div class="try-now-btn">
                            <a href="#" class="btn border-btn">Try Now</a>
                          </div>
                          <ul class="package-list-data">
                            <li>2gb Hosting</li>
                            <li>10 Custom Domain</li>
                            <li>SSD Hosting</li>
                            <li>SSD Hosting</li>
                            <li>50gb Bandwith</li>
                            <li>Free Support</li>
                          </ul>
                          <h2><em>$</em>20.00</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="price-box">
                      <div class="p-box-inner">
                        <div class="hover-line">
                          <div class="price-box-header">
                            <div class="plan-icons">
                              <i class="mdi mdi-rocket"></i>
                            </div>
                            <div class="price-title">Gold</div>
                          </div>
                          <div class="try-now-btn">
                            <a href="#" class="btn border-btn">Try Now</a>
                          </div>
                          <ul class="package-list-data">
                            <li>2gb Hosting</li>
                            <li>10 Custom Domain</li>
                            <li>SSD Hosting</li>
                            <li>SSD Hosting</li>
                            <li>50gb Bandwith</li>
                            <li>Free Support</li>
                          </ul>
                          <h2><em>$</em>40.00</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="yearly" role="tabpanel" aria-labelledby="yearly-tab">
                <div class="row justify-content-center">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="price-box">
                      <div class="p-box-inner">
                        <div class="hover-line">
                          <div class="price-box-header">
                            <div class="plan-icons">
                              <i class="mdi mdi-rocket"></i>
                            </div>
                            <div class="price-title">Regular</div>
                          </div>
                          <div class="try-now-btn">
                            <a href="#" class="btn border-btn">Try Now</a>
                          </div>
                          <ul class="package-list-data">
                            <li>2gb Hosting</li>
                            <li>10 Custom Domain</li>
                            <li>SSD Hosting</li>
                            <li>SSD Hosting</li>
                            <li>50gb Bandwith</li>
                            <li>Free Support</li>
                          </ul>
                          <h2><em>$</em>10.00</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="price-box">
                      <div class="p-box-inner">
                        <div class="hover-line">
                          <div class="price-box-header">
                            <div class="plan-icons">
                              <i class="mdi mdi-rocket"></i>
                            </div>
                            <div class="price-title">Standard</div>
                          </div>
                          <div class="try-now-btn">
                            <a href="#" class="btn border-btn">Try Now</a>
                          </div>
                          <ul class="package-list-data">
                            <li>2gb Hosting</li>
                            <li>10 Custom Domain</li>
                            <li>SSD Hosting</li>
                            <li>SSD Hosting</li>
                            <li>50gb Bandwith</li>
                            <li>Free Support</li>
                          </ul>
                          <h2><em>$</em>20.00</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="price-box">
                      <div class="p-box-inner">
                        <div class="hover-line">
                          <div class="price-box-header">
                            <div class="plan-icons">
                              <i class="mdi mdi-rocket"></i>
                            </div>
                            <div class="price-title">Premium</div>
                          </div>
                          <div class="try-now-btn">
                            <a href="#" class="btn border-btn">Try Now</a>
                          </div>
                          <ul class="package-list-data">
                            <li>2gb Hosting</li>
                            <li>10 Custom Domain</li>
                            <li>SSD Hosting</li>
                            <li>SSD Hosting</li>
                            <li>50gb Bandwith</li>
                            <li>Free Support</li>
                          </ul>
                          <h2><em>$</em>40.00</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Price -->
    <!-- Start FAQ's -->
    <section id="faq" class="section">
      <div class="container">
        <div class="title-block mx-auto">
          <div class="section_title mb-4 text-center">
            <h2><span>Frequently Asked Questions</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 mx-auto">
            <div id="accordion" class="faq-accordion-panel wow fadeInUp" data-wow-duration="1500ms">
              <div class="question-card shadow-sm active">
                <div class="card-header p-0" id="headingOne">
                  <h4 class="mb-0">
                    <button class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><span>Made With Love</span><span><i class="mdi mdi-menu-down caret-icon"></i></span></button>
                  </h4>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <p>
                      this dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.this dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.
                    </p>
                  </div>
                </div>
              </div>
              <div class="question-card shadow-sm">
                <div class="card-header p-0" id="headingTwo">
                  <h4 class="mb-0">
                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span>Free of Use</span><span><i class="mdi mdi-menu-down caret-icon"></i></span></button>
                  </h4>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    <p>
                      this dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.this dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.
                    </p>
                  </div>
                </div>
              </div>
              <div class="question-card shadow-sm">
                <div class="card-header p-0" id="headingThree">
                  <h4 class="mb-0">
                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span>Fully Support Avaliable</span><span><i class="mdi mdi-menu-down caret-icon"></i></span></button>
                  </h4>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    <p>
                      this dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. this dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.
                    </p>
                  </div>
                </div>
              </div>
              <div class="question-card shadow-sm">
                <div class="card-header p-0" id="headingFour">
                  <h4 class="mb-0">
                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><span>Flat and Modern Ui & Ux</span><span><i class="mdi mdi-menu-down caret-icon"></i></span></button>
                  </h4>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body">
                    <p>
                      this dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. this dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- End FAQ's -->
  </div>
